.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 64px; 
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid rgb(220, 224, 224);
    box-sizing: border-box;
}

.nav-bar-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

.main-window {
    position: relative;
    top: 128px;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    float: right;
    padding-right: 40px;
    height: 100%;
}

.location-search-input {
    margin-left: 30px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    width: 371px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.nav-menu-buttons {
    display: flex;
    justify-content: space-evenly;
    height: 64px;
    margin-right: -10px;
}

.nav-menu-button {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
  text-decoration: none;
  height: 62px !important;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 10px;
  height: 100%;
  font-weight: bold;
  box-sizing: content-box;
}

.nav-menu-button:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(118, 118, 118);
}


.DateRangePickerInput_arrow_svg {
    display: none;
}

.nav-bar-left h1 {
    font-size: 30px;
    color: #484848;
    font-weight: bold;
    font-family: 'Sofia', cursive;
}

.nav-bar-left h1:hover {
    cursor: pointer;
}